
:root{
    --verdeescuro: #6A9F65;
    --verdeclaro: #7BC074;
    --textobtn: #fff;
    --corpreta:#000;
}


.traveller_logo{
  width: 80px;
  margin: 0 20px;
}


/*
======================
Navbar
======================
*/

.navbar_mobile{
 background-color: var(--verdeescuro);
}

#my_nav_item{
  font-weight:700;
  margin: 0 10px;
  color: #000;
  transition: .3s;
}

#my_nav_item:hover{
  color: var(--verdeescuro);
}

.my_nav_underline{
  background-color: #000;
  margin: 0 auto;
  width: 70px;
  height:1px;
  text-align: center;
  transition: .5s;
  cursor: pointer;
}

.my_nav_underline:hover{
  transform: scaleX(10%);
}

.my_menu_traveller{
 position: absolute;
 top: 0;
 right: 0;
 margin: 10px 20px;
}

/*
============================
Toogle btn
============================
*/

#my_navbar_toggler{
  border-style: none;
  color: #7BC074
}

#my_navbar_toggler:hover{
  color: #6A9F65;
}


.btn-menu{
    text-decoration: underline;
    color: #000;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 700;
    transform: .5s;
}

.btn-menu:hover{
  color: var(--verdeescuro);
  box-shadow: 1px 2px 5px --corpreta;
}

/*
============================
Banner
============================
*/


#img_banner{
  width: 60vw;
  height: 40vh;
  box-shadow: 1px 2px 5px --corpreta;
  border-radius: 10px;
  object-fit: contain;
}

@media screen and (max-width:678px){
  #img_banner{
    display: none;
  }
}

.btn_banner{
    background-color: var(--verdeescuro);
  color: #fff;
  padding: 10px 15px;
  font-weight: 500;
  transition: .5s;
  border-radius: 10px;
}
.btn_banner:hover{
    background-color: var(--verdeclaro);
  color: #fff;
}

.btn_box{
  background-color: #6A9F65;
  color: var(--textobtn);
  border-radius: 10px;
  padding: 5px 15px;
}

#box_1_banner{
  box-shadow: 1px 2px 5px --corpreta;
}

#card_traveller{
    width: 18rem;
    transition: .3s ease-in-out;
}

#card_traveller:hover{
    transform: translateY(15px);
}

/*
============================
Footer
============================
*/

#footer_container{
  background-color: #6A9F65;
}

.my_social_icons ul li:hover{
  opacity: 0.6;
  transition: .5s ease-in-out;
  cursor: pointer;
  transform: translateY(5px);
}